<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small ">
 <a class="icon-linkedin social-button color" href="http://linkedin.com/username"></a>
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright: -->
      <!-- <a href="https://github.com/KayseMca"> Mohamed Abdillahi</a> -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 copyrightfooter navbar-fixed-bottom">© 2020 Copyright:
    <a href="https://github.com/KayseMca"> Mohamed Abdillahi</a>
  </div>
  <!-- Copyright -->

</footer>
